button, .button
{
	font-family: $roboto;
	box-shadow: $shadow;
	background: $color-main;
	font-weight: 700;
	margin-top: 1.5em;
	transition: $trans;

	&:hover
	{
		background: $color-main - 20;
		transition: $trans;
	}
}

.menu-icon
{
	margin-top: 0;
	box-shadow: none;

	&:hover
	{
		background: none;
	}
}