.main-content
{
	.content-container
	{
		padding-top: 4em;
		padding-bottom: 4em;
		box-shadow: $shadow;
		position: relative;
	}

	.hero
	{
		background: $dark-text;
		z-index: 40;
		
		h1, h2, p
		{
			color: $white;
		}
	}

	.pitch
	{
		z-index: 30;

		img
		{
			box-shadow: $shadow;
		}
	}

	.benefits
	{
		background: $color-main;
		z-index: 20;

		h1, h2, p, ul, li
		{
			color: $white;
		}

		hr
		{
			border-color: $white;
			box-shadow: $shadow;
		}
	}

	.analytics
	{
		background: $white;
		z-index: 10;

		h1, h2, p, ul, li
		{
			color: $dark-text;
		}

		.analytics-block
		{
			padding-top: 2em;
			padding-bottom: 2em;
		}
	}
}