.main-content
{
	.content-container
	{
		padding-top: 4em;
		padding-bottom: 4em;
		box-shadow: $shadow;
		position: relative;
	}

	.hero
	{
		background: url(../img/background1.png) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		z-index: 40;
		padding-top: 1em;
		
		h1, h2, p
		{
			color: $white;
		}

		.hero-logo
		{
			font-family: $sansita;
			color: $color-main;
			font-size: 6em;
			letter-spacing: -.025em;
			text-shadow: $shadow-text;
		}
	}

	.pitch
	{
		z-index: 30;

		img
		{
			box-shadow: $shadow;
		}
	}

	.benefits
	{
		background: $color-main;
		z-index: 20;

		h1, h2, h3, p, ul, li
		{
			color: $white;
		}

		hr
		{
			border-color: $white;
			box-shadow: $shadow;
		}

		.button
		{
			background: $white;
			color: $color-main;
			font-size: .825em;

			&:hover
			{
				background: $color-main - 25;
				color: $white;
			}
		}
	}

	.analytics
	{
		background: $white;
		z-index: 10;

		h1, h2, p, ul, li
		{
			color: $dark-text;
		}

		h2
		{
			color: $color-main;
			font-weight: 300;
		}

		p
		{
			color: $medium-text;
		}

		.analytics-block
		{
			padding-top: 1.25em;
			padding-bottom: .5em;
		}

		.analytics-title
		{
			padding-bottom: 0em;
		}

		.small-page-divider
		{
			padding-bottom: 1em;
		}

		.customer-quote
		{
			
		}
	}

	.objectives
	{
		.row
		{
			padding-bottom: 2em;
		}

		h2
		{
			color: $color-main;
		}
		.non-padded-row
		{
			padding-bottom: 1em;
		}

		img
		{
			margin-bottom: 1em;
			margin-top: .5em;
		}
	}
}

