@-webkit-keyframes fadeIn {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@-moz-keyframes fadeIn {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@-o-keyframes fadeIn {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@keyframes fadeIn {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}

.slideshow-container
{

	img
	{	
		margin-top: 2em;
		 -moz-animation: fadeIn 1s ease;
		 animation: fadeIn 1s ease;
		 border: 1px solid #ccc;
		 box-shadow: $shadow;
	}
}

.slideshow-nav
{

	.button
	{
		box-shadow: $shadow;
		margin: 1em 0 0 0;
	}
}
